<div class="index-title"><h1>Open Jobs around you!</h1></div>

<div class="container">
  <div class="d-flex justify-content-between row">
    <% @jobs.each do |job| %>
      <!-- A div with card class for the card  -->
      <div class="card-show" style="width: 18rem;">
        <%= link_to image_tag(job.img_url), job_path(job), class: "card-img-top" %>
        <div class="card__details">
          <h4><strong>Required skills: </strong></h4>
          <%# interrate over skills? @job.skills  %>
          <% job.skills.each do |skill| %>
            <span class="tag"><%=skill.name%></span>
          <% end %>

          <!-- A div with name class for the name of the card -->
          <div class="name">
            <%= job.job_title%>
            <h4><strong><%= job.user.location%></strong></h4>
          </div>

          <h4><%= job.job_description%></h4>
          <p><strong>Start at: </strong><%= job.start_date%></p>
          <p><strong>End: </strong><%= job.end_date%></p>
          <h5>€ <%= job.remuneration%></h5>

          <% if !current_user.employer %>
            <%= simple_form_for([job, @request]) do |f| %>
            <%= f.input :status, value: 'pending', input_html: {hidden: true}, label: false %>
            <%= f.submit 'Apply', class: 'btn btn-primary'%>
            <% end %>
          <% end %>

        </div>
      </div>
    <%end%>
  </div>
</div>
        <%# <div class="card" style="width: 18rem;"> %>
          <%# <div class="card-body"> %>
            <%# <%= link_to image_tag(job.img_url), job_path(job), class: "card-img-top" %>
            <%# <p class="card-text"><%=job.job_title%>
            <%# <p class="card-text"><%=job.job_description%>
            <%# <p class="card-text"><%=job.start_date%>
            <%# <p class="card-text"><%=job.end_date%>
            <%# <p class="card-text"><%=job.remuneration%>
          <%# </div> %>
        <%# </div> %>


  <%# <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="category mb-30">
          <div class="job">
            <% @jobs.each do |job| %>
              <%# <%= link_to job_path(job) do %>
                <%# <span class="colors1 mb-4"><%=job.job_title</span>  %>
                <%# <% end %>
                <%# <ul class="place"> %>
                    <%# <li> %>
                        <%# <p class="ps-5"><i class="fas fa-map-marker-alt pe-2"></i><%= job.job_description</p> %>
                    <%# </li> %>
                <%# </ul> %>
                <%# <div class="d-flex align-items-center justify-content-between"> %>
                    <%# <div class="left"> %>
                        <%# <p><%=job.remuneration</p> %>
                    <%# </div> %>
                    <%# <span class="time"><%= Time.now</span>  %>
                <%# </div> %>
              <%# </div> %>
            <%# <%end %>
        <%# </div> %>
      <%# </div> %>
    <%# </div>  %>
