
<%# <div class="card-product"> %>
  <%# <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8SFcDfL0Y-mj5hso86b2Injnt7hq0LdjY3w&usqp=CAU" /> %>
  <%# <div class="card-product-infos"> %>
   <%# <h2><strong><%= @job.job_title</strong></h2> %>
    <%# <h4><%= @job.job_description</h4> %>
    <%# <p><strong>Start at:</strong><%= @job.start_date</p> %>
    <%# <p><strong>End:</strong><%= @job.end_date</p> %>
    <%# <h5><%= @job.remuneration</h5> %>
  <%# </div> %>
<%# </div> %>



  <div id="container">

    <!-- A div with card class for the card  -->
    <div class="card-show">
      <img src="https://images.unsplash.com/photo-1536323760109-ca8c07450053" alt="Lago di Braies">

      <!-- A div with card__details class to hold the details in the card  -->
      <div class="card__details">

        <!-- Span with tag class for the tag -->
        <span class="tag">Waiter/tress</span>

        <span class="tag">cooking</span>

        <!-- A div with name class for the name of the card -->
        <div class="name">
          <%= @job.job_title%>
        </div>

        <h4><%= @job.job_title%></h4>
        <h4><%= @job.job_description%></h4>
        <p><strong>Start at:</strong><%= @job.start_date%></p>
        <p><strong>End:</strong><%= @job.end_date%></p>
        <h5><%= @job.remuneration%></h5>

        <%= simple_form_for([@job, @request]) do |f| %>
          <%= f.input :status, value: 'pending', input_html: {hidden: true} %>
          <%= f.submit 'Apply' %>
        <% end %>

      </div>


    </div>
  </div>
<%= link_to "Jobs available", jobs_path(@jobs) %>
