<div class="container">
  <div class="job-card">
    <h2><strong><%= @job.job_title %></strong></h2>
    <h4><%= @job.job_description %></h4>
    <p><strong>Start at:</strong><%= @job.start_date %></p>
    <p><strong>End:</strong><%= @job.end_date %></p>
    <h3><%= @job.remuneration %></h3>
  </div>

  <%= simple_form_for([@job, @request]) do |f| %>
    <%= f.input :status, value: 'pending', input_html: {hidden: true} %>
    <%= f.submit 'Apply' %>
  <% end %>
</div>
