<div class='container-form'>
  <%= simple_form_for(@job) do |f| %>
    <%= f.input :img_url %>
    <%= f.input :job_title %>
    <%= f.input :job_description %>
    <div class="date-section-form" >
      <div>
        <%= f.label :start_date %>
        <%= f.text_field :start_date,
          data: {
            controller: "flatpickr",
            flatpickr_alt_format: t("date.formats.long"),
            flatpickr_date_format: "%d %B %Y %H:i",
            flatpickr_min_date: Time.zone.now,
            flatpickr_enable_time: true,
        } %>
      </div>
      <div>
        <%= f.label :end_date %>
        <%= f.text_field :end_date,
          data: {
            controller: "flatpickr",
            flatpickr_alt_format: t("date.formats.long"),
            flatpickr_date_format: "%d %B %Y %H:i",
            flatpickr_min_date: Time.zone.now,
            flatpickr_enable_time: true,
          } %>
      </div>
    </div>
    <%= f.input :remuneration %>
    <%= f.input :location,
            input_html: { data: { geocoder_target: "location" } },
            wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['pk.eyJ1IjoibWF4aWphcHMiLCJhIjoiY2w0M3cxa3R5MTdsbDNkcjJkMXZzbTZheSJ9.W7KeJ6pL9tCCRkgiNNIkXA'] }} %>

    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
