<div class="container">
  <br>
  <h2>Can I work please work?<h2>
  <br>
  <h1><%= @job.job_title %></h1>
  <h2><%= @job.job_description %></h2>
  <h1><%= @job.remuneration %></h1>
  <div>
    <%= simple_form_for [@job, @request], url: new_job_request_path do |f| %>
      <%= f.input :status %>
      <%= f.submit "Request to work!", class: "btn btn-ghost" %>
    <% end %>
  </div>
</div>
