<div id="container">
  <div class="request-header">
    <h3>My Posted Jobs:</h3>
  </div>
  <% @jobs.each do |job| %>
    <div class="student-card-show">
      <%= link_to image_tag(job.img_url), job_path(job), class: "card-img-top" %>
      <div class="student-card__details">
        <h4><strong>Required skills: </strong></h4>
          <% job.skills.each do |skill| %>
            <span class="tag"><%=skill.name%></span>
          <% end %>
          <div class="name">
            <%= job.job_title%>
            <h4><strong><%= job.location%></strong></h4>

            <h4><%= job.job_description%></h4>
              <p><strong>Start: </strong><%= job.start_date.strftime("%d/%m/%y at %H:%M")%></p>
              <p><strong>End: </strong><%= job.end_date.strftime("%d/%m/%y at %H:%M")%></p>
            <div class="d-flex justify-content-between">
              <div>
                <h4><strong><%= job.remuneration%></strong>€ per hour</h4>
              </div>
              <div>
                <h4><strong><%= (job.end_date.strftime("%H").to_i - job.start_date.strftime("%H").to_i) * job.remuneration%></strong>€ total</h4>
              </div>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>
