<div class="ms-3 me-3 ">
   <div>
    <% if !current_user.employer %>
      <h1 class= "m-0"><strong>Dashboard for: </strong><%= current_user.name %></h1>
    <% else %>
      <h1 class= "m-0">Dashboard for: <%= current_user.company %></h1>
    <% end %>
  </div>
  <div>
    <h3 class= "m-0"><%= current_user.location %></h3>
  </div>
</div>

<div class="ms-3 me-3 request-header">
  <h3>Posted Jobs:</h3>
</div>



<div class="container-employer">
  <% @jobs.each do |job| %>
    <div class="card-show" style="width: 18rem;">

     <% if !job.img_url %>
          <%= link_to image_tag("https://images.unsplash.com/photo-1614332287897-cdc485fa562d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29taW5nJTIwc29vbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"), job_path(job), class: "card-img-top" %>
        <% else %>
          <%= link_to image_tag(job.img_url), job_path(job), class: "card-img-top" %>
        <% end %>

      <div class="card__details">
        <h4><strong>Required skills: </strong></h4>
          <% job.skills.each do |skill| %>
            <span class="tag"><%=skill.name%></span>
          <% end %>
          <div class="name">
            <%= job.job_title%>
            <h4>for <strong><%= job.user.company%></strong></h4>
            <h4><strong><%= job.location%></strong></h4>

            <h4><%= job.job_description%></h4>
              <p><strong>Start: </strong><%= job.start_date.strftime("%d/%m/%y at %H:%M")%></p>
              <p><strong>End: </strong><%= job.end_date.strftime("%d/%m/%y at %H:%M")%></p>
            <div class="d-flex justify-content-between">
              <div>
                <h4><strong><%= job.remuneration%></strong>€ per hour</h4>
              </div>
              <div>
                <% if ((job.end_date.strftime("%d").to_i)>(job.start_date.strftime("%d").to_i))%>
                  <h4><strong><%=(((job.end_date.strftime("%H").to_i) + 24) - (job.start_date.strftime("%H").to_i)) * job.remuneration%></strong>€ total</h4>
                <% else %>
                  <h4><strong><%=((job.end_date.strftime("%H").to_i) - (job.start_date.strftime("%H").to_i)) * job.remuneration%></strong>€ total</h4>
                <% end %>
              </div>
            </div>
          </div>
      </div>
        <% if job.requests.find_by(status: "accepted")%>
            <div class="notification-accepted">
              <img src="https://icon-library.com/images/validate-icon/validate-icon-8.jpg" alt="">
            </div>
        <% elsif job.requests.count > 0 %>
            <div class="notification">
              <h4><%= job.requests.count %></h4>
            </div>
        <% end %>
    </div>
  <% end %>
</div>
